.top-bar, .top-bar ul {
    background-color: #fff;
    padding-left: 0;
}
li.menu-text {
    padding-left: 0 !important;
}

.card.front {
    margin-bottom: 3rem;
}

.card.front .image-container {
    height: 300px;
    overflow: hidden;
}

@media screen and (min-width: 40em) {
    .menu a {
        margin-top: 32px;
    }
}
@media screen and (max-width: 39.9375em) {
    li.menu-text {
        width: 100%;
        padding-bottom: 0 !important;
    }
    .menu a {
        padding-left: 0;
    }
    .card.front .image-container {
        height: 100px;
    }
}
